<div class="row">
    <div class="col-sm-4" align="center"><h3>Mind</h3><hr /></div>
    <div class="col-sm-4" align="center"><h3>Body</h3><hr /></div>
    <div class="col-sm-4" align="center"><h3>Spirit</h3><hr /></div>
</div>

<div class="row" id="character_stats">
    <div class="col-sm-4" align="justify">
        <h4>
            {% for character_stat in character_stats %}
                <div class="col-sm-6" align="center">STR</div>
                <div class="col-sm-6" align="center">{{ character_stat.str }}</div><br /><br />
                <div class="col-sm-6" align="center">END</div>
                <div class="col-sm-6" align="center">{{ character_stat.end }}</div><br /><br />
                <div class="col-sm-6" align="center">SPD</div>
                <div class="col-sm-6" align="center">{{ character_stat.spd }}</div><br /><br />
                <div class="col-sm-6" align="center">AGI</div>
                <div class="col-sm-6" align="center">{{ character_stat.agi }}</div><br /><br />
            {% endfor %}
        </h4>
    </div>
    <div class="col-sm-4" align="center">
        <h4>
            {% for character_stat in character_stats %}
                <div class="col-sm-6" align="center">COG</div>
                <div class="col-sm-6" align="center">{{ character_stat.cog }}</div><br /><br />
                <div class="col-sm-6" align="center">WIS</div>
                <div class="col-sm-6" align="center">{{ character_stat.wis }}</div><br /><br />
                <div class="col-sm-6" align="center">MAG</div>
                <div class="col-sm-6" align="center">{{ character_stat.mag }}</div><br /><br />
                <div class="col-sm-6" align="center">FLO</div>
                <div class="col-sm-6" align="center">{{ character_stat.flo }}</div><br /><br />
            {% endfor %}
        </h4>
    </div>
    <div class="col-sm-4" align="center">
        <h4>
            {% for character_stat in character_stats %}
                <div class="col-sm-6" align="center">LUK</div>
                <div class="col-sm-6" align="center">{{ character_stat.luk }}</div><br /><br />
                <div class="col-sm-6" align="center">WIL</div>
                <div class="col-sm-6" align="center">{{ character_stat.wil }}</div><br /><br />
                <div class="col-sm-6" align="center">CHI</div>
                <div class="col-sm-6" align="center">{{ character_stat.chi }}</div><br /><br />
                <div class="col-sm-6" align="center">SYN</div>
                <div class="col-sm-6" align="center">{{ character_stat.syn }}</div><br /><br />
            {% endfor %}
        </h4>
    </div>
</div>