<div class="row">
    <div class="col-sm-3"><h3>Name</h3><hr /></div>
    <div class="col-sm-2"><h3>Initiative</h3><hr /></div>
    <div class="col-sm-2"><h3>Hit Points</h3><hr /></div>
    <div class="col-sm-2"><h3>Armor</h3><hr /></div>
    <div class="col-sm-3"><h3>Lucky Number</h3><hr /></div>
</div>

<div class="row" id="character_stats">
    <div class="col-sm-3"><h4>{{ character.name }}</h4></div>
    <div class="col-sm-2"><h4>{{ character.initiative }}</h4></div>
    <div class="col-sm-2"><h4>{{ character.hit_points }}</h4></div>
    <div class="col-sm-2"><h4>{{ character.armor }}</h4></div>
    <div class="col-sm-3"><h4>{{ character.lucky_number }}</h4></div>
</div>