<div class="col-sm-3">
    <h3>Character</h3><hr />
</div>
<div class="col-sm-2" align="center">
    <h3>Hit Points</h3><hr />
</div>
<div class="col-sm-2"align="center">
    <h3>Armor</h3><hr />
</div>
<div class="col-sm-2" align="center">
    <h3>Initiative</h3><hr />
</div>
<div class="col-sm-3" align="center">
    <div class="col-sm-6">
        <h3>Active</h3><hr />
    </div>
    <div class="col-sm-6" align="center">
        <h3>Alive</h3><hr />
    </div>
</div>

<form method="POST">
    {% csrf_token %}
    <div class="col-sm-12">
        {% for character in characters %}
            <div class="row">
                <div class="col-sm-3" {% if not character.is_alive %}
                     style="text-decoration-line: line-through; text-decoration-color: #8c8c8c; font-style: italic"
                    {% endif %}>
                    <h4><a href="characters/{{ character.slug }}" {% if not character.is_alive %} style="color: #8c8c8c"
                    {% endif %}>
                        {{ character.name }}</a></h4>
                </div>
                <div class="col-sm-2" align="center" {% if not character.is_alive %}
                     style="text-decoration-line: line-through; text-decoration-color: #8c8c8c; font-style: italic"
                    {% endif %}>
                    <h4>{{ character.hit_points }}</h4>
                </div>
                <div class="col-sm-2" align="center" {% if not character.is_alive %}
                     style="text-decoration-line: line-through; text-decoration-color: #8c8c8c; font-style: italic"
                    {% endif %}>
                    <h4>{{ character.armor }}</h4>
                </div>
                <div class="col-sm-2" align="center" {% if not character.is_alive %}
                     style="text-decoration-line: line-through; text-decoration-color: #8c8c8c; font-style: italic"
                    {% endif %}>
                    <h4>
                        {% if character.initiative %}
                            {{ character.initiative }}
                        {% else %}
                            <div class="col-sm-12">
                                <input class="form-control" name="{{ character.id }}_initiative"
                                       value="{{ character.initiative }}"
                                       placeholder="{{ character.initiative }}" type="number">
                            </div>
                        {% endif %}
                    </h4>
                </div>
                <div class="col-sm-3">
                    <div class="col-sm-6" align="center">
                        <input name="is-active-list" value="{{ character.id }}" type="checkbox"
                               {% if character.is_active %} checked {% endif %}
                               data-toggle="toggle" data-on="Active" data-off="Inactive">
                    </div>
                    <div class="col-sm-6" align="center">
                        <input type="checkbox" name="is-alive-list" value="{{ character.id }}" type="checkbox"
                               {% if character.is_alive %} checked {% endif %}
                               data-toggle="toggle" data-on="Alive" data-off="Dead">
                    </div>
                </div>
            </div>
        {% endfor %}

        <br /><br />
        <div class="col-sm-11" align="right">
            <div class="btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-default">
                    <input type="checkbox" name="start_next_turn" value="True">Start Next Turn
                </label>
            </div>
        </div>
        <div class="col-sm-1" align="right">
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
    </div>
</form>

<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
