{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container">
        <div class="row">
            <h2>{{ character.name }}'s Spells</h2>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-6">
                    <h3>Name</h3>
                </div>
                <div class="col-sm-6">
                    <h3>Damage</h3>
                </div>
            </div>
        </div>
    <hr />

        <div class="row">
            <div class="col-sm-12">
                {% for spell in spells %}
                    <div class="col-sm-6">
                        <h4>{{ spell.name }}</h4>
                    </div>
                    <div class="col-sm-6">
                        <h4>{{ spell.damage }}</h4>
                    </div><br />
                    <div class="col-sm-12">
                        <p>{{ spell.description }}</p>
                    </div>
                {% endfor %}
            </div>

            <br /><br />
            <div class="col-sm-12" align="right">
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
        </div>
    </div>

{% endblock %}